<% @posts.each do |post| %>
<div class="post">
  <% unless post.image.blank? %>
    <img src="/img/<%= post.image %>" alt="<%= post.image %>"/>
    <div class="overlay"></div>
  <% end %>
  <% unless post.title.blank? %>
  <section>
    <h2><a href="/post/show/<%= post.id %>"><%= post.title %></a></h2>
  <% else %>
    <a href="/post/show/<%= post.id %>" title="Go to post #<%= post.id %>">
  <% end %>
  <time><%= post.date.strftime('%b %d, %Y @ %I:%M %p') %></time>
  <% unless post.title.blank? %>
    </section>
  <% else %>
    </a>
  <% end %>
</div>
<% end %>
<a href="/posts/page/<%= params[:num].to_i + 1 %>" id="next-page">Next Page</a>
