<div class="single post">
  <%= "<img src=\"public/img/#{@post.image}\" alt=\"#{@post.image}\"/>" if @post.image %>
  <% if @post.title %>
  <section>
    <h2><%= @post.title %></h2>
  <% end %>
  <time><%= @post.date.strftime('%b %d, %Y @ %I:%M %p') %></time>
  <div class="clear"></div>
  <%= @post.content %>
  <ul class="tags">
    <% tags = format_tags @post.tags %>
    <% tags.each do |t| %>
      <li><%= t %></li>
    <% end %>
  </ul>
  <p class="likes"><%= @post.likes %> likes</p>
  <%= destroy_post_link @post %>
  <% if @post.title %></section><% end %>
</div>
