<div class="single-post">
  <div id="back"><a href="/posts">Back</a></div>
  <% unless @post.image.blank? %>
  <img src="/img/<%= @post.image %>" alt="<%= @post.image %>" id="main-image"/>
  <% end %>
  <div class="bg">
    <div class="center">
      <% unless @post.title.blank? %>
      <section>
        <h2><%= @post.title %></h2>
      <% end %>
      <time><%= @post.date.strftime('%b %d, %Y @ %I:%M %p') %></time>
      <div class="clear"></div>
      <%= @post.content %>
      <ul class="tags">
        <% tags = format_tags @post.tags %>
        <% tags.each do |t| %>
          <li><%= t %></li>
        <% end %>
      </ul>
      <p class="likes"><%= @post.likes %> likes</p>
      <% unless @post.title.blank? %>
      </section>
      <% end %>
      <% unless @comments.empty? %>
        <% @comments.each do |c| %>
          <div class="comment">
            <% user = User.find(c.user) %>
            <img src="/img/<%= user.image %>" alt="<%= user.name %>'s image" width="50" height="50" />
            <span><%= user.name %></span>
            <p><%= c.content %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
