<section>
  <h2>Index Page</h2>
  <p>Owner: <%= @post.owner %></p>
  <p>Date: <%= @post.date %></p>
  <p>Content: <%= @post.content %></p>
  <p>Tags: <%= @post.tags %></p>
  <p>Likes: <%= @post.likes %></p>
</section>
