<!DOCTYPE html>
<html>
  <head>
    <title><%= @user %> :: Blog</title>
    <link href="http://fonts.googleapis.com/css?family=<%= @title_font %>" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=<%= @body_font %>" rel="stylesheet"/>
    <link href="/css/<%= @theme %>.css" rel="stylesheet"/>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div id="left">
      <header>
        <h1><%= @user %></h1>
      </header>
      <nav>
        <ul>
          <li><a href="/posts">Home</a></li>
          <li><a href="/admin">CP</a></li>
          <li><a href="/">Link 1</a></li>
          <li><a href="/">Link 2</a></li>
          <li><a href="/">Link 3</a></li>
        </ul>
        <span class="close" title="Minimize"></span>
      </nav>
    </div>
    <div id="right">
      <%= yield %>
      <div class="clear"></div>
      <footer>
        <p>&copy; 2014 <%= @user %></p>
      </footer>
    </div>
  </body>
</html>
